{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}

{% block body %}
{# on utilise stimulus #}
    <div data-controller="todo-list"></div> 

     <p>This is a static content</p>
{% endblock %}