
    .todo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #0697bb;
    color: white;
  }
  
  .todo-container h1 {
    text-align: center;
  }
  
  .todo-form {
    justify-content: space-between;
    color: hsl(345, 95%, 48%);
  }
  
  .todo-list {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .todo-item:last-child {
    border-bottom: none;
  }
  
  .todo-item button {
    margin-left: 10px;
  }
  
  .todo-item p {
    margin: 0;
    word-wrap: break-word;
    max-width: 80%;
  }
  