<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    
    {# Inclusion des assets CSS #}
    {{ encore_entry_link_tags('app') }}
    
    {# Bloc pour des styles supplémentaires spécifiques à chaque page #}
    {% block stylesheets %}{% endblock %}
    
    {# Inclusion des assets JavaScript #}
    {{ encore_entry_script_tags('app') }}
    
    {# Bloc pour des scripts supplémentaires spécifiques à chaque page #}
    {% block javascripts %}{% endblock %}
</head>
<body>
    <header>
        {# Ajoutez ici le contenu de l'en-tête, comme la navigation #}
    </header>

    <main>
        {# Le contenu principal sera injecté ici #}
        {% block body %}{% endblock %}
    </main>

    <footer>
        {# Ajoutez ici le contenu du pied de page #}
    </footer>
</body>
</html>


